body
{
	margin:          0;
	font-family: "Proxima-Nova", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: #FFFFFF;
}

code
{
	font-family: "Proxima-Nova", sans-serif;
}
